build-openPSTD-Desktop_Qt_5_9_1_GCC_64bit-Debug/*
openPSTD/openPSTD.pro.user
docs/.~lock.*
.oldversion
.oldchangelog
release/*
mxe*
Makefile*
object_script*
openpstd_plugin*
.qmake.stash
testdata/
installers/