<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>OpenPSTD</string>
	<key>CFBundleDisplayName</key>
	<string>OpenPSTD</string>
	<key>CFBundleIdentifier</key>
	<string>org.openpstd</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>pstd</string>
	<key>CFBundleExecutable</key>
	<string>OpenPSTD-gui</string>
	<key>CFBundleIconFile</key>
    <string>OpenPSTD.icns</string>
</dict>
</plist>
